*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: "montserrat";
    }
    
    body{
  
    
    background: #333;
    }
    
  


    .middle {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%)
        
    }
    
    .card  {
        cursor: pointer;
        width: 350px;
        height: 450px;
       
        
    
    }
    
    .front, 
    .back {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        border-radius: 3px;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .3s linear;
        border-radius: 2px;
        
       
    }
   
    .front img{
        height: 100%;
    } 
    .back img{
        height: 100%;
        object-fit: cover;
    } 

    

    .front {
        
        transform: perspective(600px) rotateY(0deg);
    }
    .back {
        background-color: #f1f1f1;
        transform: perspective(600px) rotateY(180deg);
    }

    .back-content {
        color: white;
        text-align: center;
        width: 100%;
        font-size: 25px;
    
    }

    .card:hover > .front {
        transform: perspective(600px) rotateY(-180deg);
    }
    
    
    .card:hover > .back {
        transform: perspective(600px) rotateY(0deg);
    }

    
   